body {
  font-family: "Open Sans", "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 5px;
  outline: 1px solid tomato;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    padding: 0 31px;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
.no-padding {
  padding: 0 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually-hidden {
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
}

.add-line:before {
  content: "";
  display: block;
  position: absolute;
  left: -80px;
  top: 6px;
  height: 1px;
  width: 60px;
  background-color: rgba(157, 164, 189, 0.6);
}

.logo__icon {
  fill: #ffffff;
}

.button {
  display: block;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  transition: background-color 200ms linear, color 300ms linear;
}
.button:hover, .button:focus {
  color: #ffffff;
  background-color: #ff6c00;
}
.button:active {
  background-color: #ff7d21;
}

.button--on-dark {
  color: #ffffff;
}

.pre-title-master {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.pre-title-slave {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  color: #303030;
}

.title-h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  font-family: "raleway";
  color: #ffffff;
}

.title-h2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.title-h2--dark {
  color: #303030;
}

.title-h2--light {
  color: #ffffff;
}

.mobile-menu {
  display: none;
}

header {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.burger-icon {
  margin-top: 8px;
  fill: #ffffff;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 580px;
  background-color: rgb(20, 20, 20);
  background-image: url("..//../images/hero-bg-mob-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("..//../images/hero-bg-mob-2x.jpg");
  }
}

.hero__title-h1 {
  margin-bottom: 20px;
}

.hero__pre-title-master {
  margin-left: 80px;
  margin-bottom: 20px;
}

.hero__intro {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.hero__switcher-list {
  display: none;
}

.about img {
  display: none;
}

.about__pre-title-slave {
  margin-left: 80px;
  margin-bottom: 20px;
}

.about__title-h2--dark {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 20px;
}

.about__invite {
  font-size: 16px;
  margin-bottom: 20px;
}

.about__our-story {
  margin-bottom: 40px;
}

.prices {
  background-color: #111319;
  background-image: url("..//../images/about-bg-mob-1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url("..//../images/about-bg-mob-2x.png");
  }
}

.prices__pre-title-master {
  margin-bottom: 20px;
  margin-left: 80px;
}

.prices__title-h2--light {
  margin-bottom: 44px;
  font-size: 40px;
  line-height: 47px;
}

.prices__list-all-in-one {
  padding: 30px 40px;
  margin-bottom: 44px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices__list-all-in-one li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.prices__list-all-in-one li:not(:last-child) {
  margin-bottom: 20px;
}
.prices__list-all-in-one p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices__list-all-in-one div {
  flex-grow: 1;
  margin: 0 4px;
  min-width: 5px;
  height: 100%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.prices__list-in-two-parts {
  display: none;
}

.prices__button {
  margin: 0 auto;
}

.masters__item {
  max-width: 418px;
  outline: 1px solid tomato;
}
@media screen and (min-width: 768px) {
  .masters__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .masters__item {
    max-width: 370px;
  }
}/*# sourceMappingURL=main.css.map */