body {
  font-family: "Open Sans", "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 5px;
  outline: 1px solid tomato;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    padding: 0 31px;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
.no-padding {
  padding: 0 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.add-line:before {
  content: "";
  display: block;
  position: absolute;
  left: -80px;
  top: 6px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}

.logo__link {
  display: inline-flex;
  cursor: pointer;
}

.logo__icon {
  fill: #ffffff;
}

.button {
  display: block;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  transition: background-color 200ms linear, color 300ms linear;
}
.button:hover, .button:focus {
  color: #ffffff;
  background-color: #ff6c00;
}
.button:active {
  background-color: #ff7d21;
}

.button--on-dark {
  color: #ffffff;
}

.pre-title-master {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.pre-title-slave {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  color: #303030;
}

.title-h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  font-family: "raleway";
  color: #ffffff;
}

.title-h2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.title-h2--dark {
  color: #303030;
}

.title-h2--light {
  color: #ffffff;
}

.title-h3 {
  font-size: 18px;
  line-height: 30px;
}

.mobile-menu {
  display: none;
}

header {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-icon {
  display: inline-flex;
  fill: #ffffff;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 580px;
  background-color: rgb(20, 20, 20);
  background-image: url("..//../images/hero-bg-mob-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("..//../images/hero-bg-mob-2x.jpg");
  }
}

.hero__title-h1 {
  margin-bottom: 20px;
}

.hero__pre-title-master {
  margin-left: 80px;
  margin-bottom: 20px;
}

.hero__intro {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.hero__switcher-list {
  display: none;
}

.about img {
  display: none;
}

.about__pre-title-slave {
  margin-left: 80px;
  margin-bottom: 20px;
}

.about__title-h2--dark {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 20px;
}

.about__invite {
  font-size: 16px;
  margin-bottom: 20px;
}

.about__our-story {
  margin-bottom: 40px;
}

.prices {
  background-color: #111319;
  background-image: url("..//../images/about-bg-mob-1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url("..//../images/about-bg-mob-2x.png");
  }
}

.prices__pre-title-master {
  margin-bottom: 20px;
  margin-left: 80px;
}

.prices__title-h2--light {
  margin-bottom: 44px;
  font-size: 40px;
  line-height: 47px;
}

.prices__list-all-in-one {
  padding: 30px 40px;
  margin-bottom: 44px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices__list-all-in-one li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.prices__list-all-in-one li:not(:last-child) {
  margin-bottom: 20px;
}
.prices__list-all-in-one p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices__list-all-in-one div {
  flex-grow: 1;
  margin: 0 4px;
  min-width: 5px;
  height: 100%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.prices__list-in-two-parts {
  display: none;
}

.prices__button {
  margin: 0 auto;
}

.benefits__pre-title-slave {
  margin-left: 80px;
  margin-bottom: 20px;
}

.benefits__title-h2--dark {
  margin-bottom: 20px;
}

.benefits__title-h3 {
  margin-bottom: 44px;
}

.progress-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 450px) {
  .progress-list {
    height: 331px;
  }
}
.progress-list li {
  display: block;
  width: 194px;
  height: 133px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #303030;
  background-color: #f7f7f7;
}
.progress-list li:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 450px) {
  .progress-list li:nth-child(3) {
    margin-top: auto;
  }
}
.progress-list li > p {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  position: relative;
}
.progress-list li > p:first-of-type::after {
  position: absolute;
  top: 0;
  content: "+";
  height: 22px;
  width: 13px;
  font-size: 18px;
  color: #ff6c00;
}
.progress-list li > p + p {
  margin-top: 6px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.02em;
}

.masters {
  background-color: #f7f7f7;
}

.masters__pre-title-slave {
  margin-left: 80px;
  margin-bottom: 20px;
}

.masters__title-h2--dark {
  margin-bottom: 44px;
}

.masters__item {
  max-width: 418px;
}
.masters__item:not(:last-child) {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .masters__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .masters__item {
    max-width: 370px;
  }
}

.master__thumb {
  margin-bottom: 30px;
}

.master__info {
  text-align: center;
}

.master__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 25px;
}

.master__position {
  margin-bottom: 30px;
  line-height: 19px;
  color: #ff6c00;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
}

.socials-list__link--gray {
  fill: #303030;
  transition: fill 300ms linear;
}
.socials-list__link--gray:hover, .socials-list__link--gray:focus {
  fill: #ff6c00;
}

.history-note__pre-title-slave {
  margin-bottom: 70px;
  margin-left: 80px;
}

.history-note__item:not(:last-child) {
  margin-bottom: 30px;
}

.form-thumb {
  background-color: #191c26;
}
.form-thumb input {
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding: 4px 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  outline: none;
  transition: border-bottom 300ms linear;
}
.form-thumb input::-moz-placeholder {
  color: transparent;
}
.form-thumb input:-ms-input-placeholder {
  color: transparent;
}
.form-thumb input::placeholder {
  color: transparent;
}
.form-thumb input:hover, .form-thumb input:focus {
  border-bottom: 1px solid #ffffff;
}
.form-thumb input:hover + label, .form-thumb input:focus + label {
  color: #ffffff;
}
.form-thumb input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-100%);
}
.form-thumb input:not(:-ms-input-placeholder) + label {
  transform: translateY(-100%);
}
.form-thumb input:hover + label, .form-thumb input:focus + label, .form-thumb input:not(:placeholder-shown) + label {
  transform: translateY(-100%);
}
.form-thumb label {
  position: absolute;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  transition: transform 300ms linear;
}

.form-thumb__title-h2--light {
  text-align: center;
  margin-bottom: 44px;
}

.contact-form p {
  position: relative;
  margin-bottom: 44px;
}

.form__button {
  width: 160px;
  margin: 0 auto;
  color: #ffffff;
}

.contacts-thumb {
  background-color: rgb(20, 20, 20);
  background-image: linear-gradient(rgba(23, 26, 36, 0.6), rgba(23, 26, 36, 0.7)), url("..//../images/contacts-bg-mob-1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts-thumb {
    background-image: linear-gradient(rgba(23, 26, 36, 0.6), rgba(23, 26, 36, 0.7)), url("..//../images/contacts-bg-mob-2x.png");
  }
}

.contacts-thumb__title-h2--light {
  text-align: center;
  margin-bottom: 40px;
}

.contacts__address-list a {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #9da4bd;
}

.contacts__address-item svg {
  display: inline;
  margin-right: 20px;
}

.contacts__address-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__address-item:first-child {
  font-weight: 700;
  position: relative;
}

.contacts__address-item:last-child {
  text-decoration: underline;
  margin-bottom: 44px;
}

.working-hours__pre-title-master {
  margin-left: 80px;
  margin-bottom: 20px;
  color: #ffffff;
}

.working-hours__text {
  font-size: 18px;
  line-height: 30px;
  color: #9da4bd;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 140px;
  background-color: #f7f7f7;
}

.copyright {
  margin-top: 79px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #9da4bd;
}

.footer__socials {
  display: flex;
  margin-top: 44px;
  margin-bottom: 79px;
}

.footer__socials-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #303030;
}

.footer__socials-item:first-child {
  position: relative;
  margin-right: 40px;
}
.footer__socials-item:first-child:before {
  content: "";
  display: block;
  position: absolute;
  left: -100px;
  top: 13px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}/*# sourceMappingURL=main.css.map */