header {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-icon {
  display: inline-flex;
  fill: $white;

  cursor: pointer;
}
